.cardlist {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;

  &--row {
    flex-direction: row;
  }
  &__item--row {
    width: 100%;
  }
  &__item--column {
    width: 100%;
    @include md {
      width: 32%;
    }
  }
}
